// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#movie_list {
  span.name {
    font-size: 1.1em;
    font-weight: bold;
  }

  .poster_lightbox img {
    max-width: 116px;
  }

  .nav {
    margin-bottom: 5px;
  }

  .tab-content {
    margin-bottom: 10px;
  }

  .nav-tabs > li > a {
    line-height: 1em;
    font-size: 0.8em;
    padding: 4px;
  }

  .plot {
    font-size: 0.8em;
  }

  .cast-members .label {
    font-size: 0.8em;
    font-weight: normal;
  }
}

.filter-block {
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 300px;
}

#lightbox {
  img {
    width: auto!important;
    height: auto!important;
    max-width: 980px;
    max-height: 850px;
  }
}

.time-select {
  width: 55px;
}
